@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext');
body, html {
    padding: 0;
    margin: 0;
}
body{
	padding-top: 70px; 
	font-family: 'Open Sans', sans-serif;
}
textarea{
	resize:none;
}
@media screen and (min-width: 768px) {
	.ellipsis {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
.btn{
	outline:none!important;
}
.page-header{
	margin-top:0;
}
.main-page .department-zone{
	margin-bottom: 30px;
}
.main-page .thumbnail{
	text-decoration:none!important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
			box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.edit-create .page-header span:empty:after{
	content: 'Yeni şablon';
	display: inline-block;
}
.edit-create .tags{
	display: block;
}
.edit-create .tags .label{
	margin-top:10px;
	margin-right:5px;
	display: inline-block;
	padding:5px 10px;
}
.edit-create .label-close{
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
	margin-left: 5px;
}
.edit-create .table{
	margin: 10px 0;
}
.panel-body .form-group:last-child{
	margin-bottom: 0;
}
.panel-embed{
	background: repeating-linear-gradient(
		  -55deg,
		  #222,
		  #222 10px,
		  #333 10px,
		  #333 20px
	);
}
.preview_loading .embed-responsive{
	opacity: .8;	
}
.embed-responsive{
	width:100%;
	margin: 0 auto;
	transition: all 0.15s ease;
}
.embed-responsive textarea{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
	outline:none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.navbar{
	transition: margin 0.3s ease;
}
.codemirror_full .navbar{
	margin-top: -51px;
}
.CodeMirror{
	border: 1px solid #ccc;
    border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.codemirror_full .CodeMirror{
	border-radius: 0px;
	border: none;
}
